src/flows/ContactFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>Copy Other Phone field value to Phone field of Contact</description>
        <name>Copy_Other_Phone</name>
        <label>Copy Other Phone</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OtherPhone</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Copy Parent Account Phone field value to Contact Phone field</description>
        <name>Copy_Parent_Account_Phone</name>
        <label>Copy Parent Account Phone</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Phone</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>if the Other Phone field is not null then fill that or else take the value from Account Phone</description>
        <name>Check_Other_Phone</name>
        <label>Check Other Phone</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Phone_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OtherPhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Other_Phone</targetReference>
            </connector>
            <label>Other Phone is not Null</label>
        </rules>
        <rules>
            <name>Other_Phone_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OtherPhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Parent_Account_Phone</targetReference>
            </connector>
            <label>Other Phone is Null</label>
        </rules>
    </decisions>
    <description>If Phone is Empty, then copy the Other Phone. If Other Phone is Empty, then copy from Parent Account Phone</description>
    <environments>Default</environments>
    <interviewLabel>ContactFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ContactFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Other_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
