src/flows/CountActiveContactsHandler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Inserted_or_Updated</name>
        <label>Inserted or Updated</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inserted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AfterInsert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RollUpOnAccount1</targetReference>
            </connector>
            <label>Inserted</label>
        </rules>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AfterUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RollUpOnAccount2</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Populated</name>
        <label>Is Account Populated</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_UpdatedAccounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Accounts_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Accounts_Populated</name>
        <label>Is Accounts Populated</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_UpdatedAccounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Accounts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CountActiveContacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CountActiveContactsHandler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Accounts</name>
        <label>Update Accounts</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <inputReference>varR_UpdatedAccounts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Accounts_Records</name>
        <label>Update Accounts</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <inputReference>varR_UpdatedAccounts</inputReference>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Inserted_or_Updated</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>RollUpOnAccount1</name>
        <label>RollUpOnAccount</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Is_Accounts_Populated</targetReference>
        </connector>
        <flowName>RollUpOnAccount</flowName>
        <inputAssignments>
            <name>AfterInsert</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AfterUpdate</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_newRecord</name>
            <value>
                <elementReference>varR_newRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_oldRecord</name>
            <value>
                <elementReference>varR_oldRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varR_UpdatedAccounts</assignToReference>
            <name>varR_updatedAccounts</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>RollUpOnAccount2</name>
        <label>RollUpOnAccount</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Is_Account_Populated</targetReference>
        </connector>
        <flowName>RollUpOnAccount</flowName>
        <inputAssignments>
            <name>AfterInsert</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AfterUpdate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_newRecord</name>
            <value>
                <elementReference>varR_newRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_oldRecord</name>
            <value>
                <elementReference>varR_oldRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varR_UpdatedAccounts</assignToReference>
            <name>varR_updatedAccounts</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AfterInsert</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AfterUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_newRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varR_oldRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varR_UpdatedAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
